.container-movie {
  margin-top: 60px;
  height: calc(100vh - 60px);
  overflow-y: auto;
}

.movie-dashboard-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 15px;
  grid-template-rows: repeat(auto-fill, 400px);
  grid-row: auto;
  overflow-y: auto;
  padding: 30px 5% 30px;
  //max-height: calc(100vh - 97px);
  transition: all 0.5s ease;

}
