:root {
  --theme-movie-footer: #212121;
  --theme-font-color: #121212;
  --theme-light-color-text: #f5f5f5;
  --theme-background-color: #f9f7e8;
  --theme-header-background-color: #ffffff;
  --theme-active-header-menu-border: #5fbba9;
  --theme-white: #ffffff;

  [data-theme="light"] {

  }
}
